// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-right: 20px;
  width: 340px;
  background-color: white;
}

.formInside{
  padding: 40px 20px 50px 20px;
  // margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(182, 165, 146);
}

.formInside h3{
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin: 10px 0 5px 0;
}

.formInside form{
  margin: 0 auto;
}
.form button{
  width: 302px;
  padding: 29px 0 29px 0;
}

#name-input1{
  width: 144px;
}

#name-input2{
  width: 144px;
  margin-left: 9px
}

.form input{
  width: 301px;
  height: 66px;
  border: 1.5px solid rgb(182, 165, 146);
}

.formInside input { 
    text-align: center; 
}

.mountainLogo {
  display: flex;
  justify-content: center;
  padding: 5px 0 10px 0;
}

.formInside h4{
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  margin: 5px 0 5px 0;
  color: #777777;
}

.errors {
  align-content: center;
}

.mountainLogo img {
  // background-image: url('mountain-cartoon-png-transparent.png');
  height: 120px;
  width: 175px;
  padding: 10px;
  -webkit-filter: grayscale(40%);
}

.errors {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}

.errors ul li{
    color: rgb(95, 19, 19);
  font-family: 'Staatliches', cursive;
}

