.campsIndex {
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  // max-width: 800px;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.eachCamp {
  padding: 1.5%;
  width: 40%;
  overflow: hidden;
}

.mapCamps {
  padding-top: 1%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.CIndex {
  width: 60%;
  padding-left: 5%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.CMaps {
  width: 40%;
  padding-top: 5%;
  box-sizing: border-box;
  max-height: 400px;
  display: flex;
  justify-content: flex-start;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.campIndexItem {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-height: 320px;
  height: 309px;
  box-sizing: border-box;
  flex: 1 0 33%;
  padding: 2%;
  margin: 0;
}

.eachCamp:hover {
  border-color: #3AC49A;
}

.campIndexItem h3 {
  font-size: 16px;
  margin: 1%;
  font-weight: 3000;
}

.campIndexItem h5 {
  font-size: 16px;
  margin: 1%;
  font-weight: 3000;
  width: 50%
}

.campIndexItem h3:hover {
  color: rgb(182, 165, 146);
  text-decoration: underline rgb(182, 165, 146);;
  cursor: pointer;
}

.campIndexItem h4{
  font-size: 12px;
  margin: 2%;
  color: #757575;
  font-weight: normal;
}


.camps h1 {
  font-size: 20px;
  font-weight: bold;
}

.homeWords {
  animation-name: fadeInDown;
  animation-duration: 2s;
}

.camps h2 {
  font-size: 15px;
  color: #757575;
  padding-bottom: 20px;
}


.campNameLocation {
  // display: flex;
  padding: 1% 1% 1% 0;
}

.campDescription {
  padding: 1% 1% 1% 0;
}

.campPrice {
  display: flex;
  justify-content: flex-end;
}

 #map-container {
   width: 80%;
   height: 100%;
    // z-index: 2;
    // position: sticky;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
