.campsIndex {
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  // max-width: 800px;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 3s;
  // justify-content: space-evenly;
  justify-content: space-between;
  padding-right: 40px;
}

.eachCamp {
  // padding: 3px;
  padding: 3px 3px 30px 3px;
  width: 280px;
  overflow: hidden;
  margin: 5px;
  // margin-right: 7%;
}

.eachCamp:last-child {

}


.mapCamps {
  padding-top: 1%;
  // width: 100%;
  // width: 1280px;
  display: flex;
  justify-content: space-around;
}

.CIndex {
  width: 60%;
  // padding-left: 5%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
}

.CMaps {
  width: 40%;
  box-sizing: border-box;
  animation-name: fadeIn;
  animation-duration: 2s;
  background: none;
  background-color: none;
  position: sticky;
  align-self: flex-start;
  // top: 70px;
  top: 64px;
  /* margin-top: 5%; */
  margin-top: 68px;
  padding: 0 0 0 10px;
}

.campIndexItem {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  // max-height: 500px;
  height: 295px;
  box-sizing: border-box;
  flex: 1 0 33%;
  padding: 3px;
  margin: 0;
}

.campIndexItem:hover {
  box-shadow: 0 2px 5px #3AC49A;
  transition: 300ms ease;
}

// .eachCamp:hover {
//   border-color: #3AC49A;
// }

.campIndexItem h3 {
  font-size: 16px;
  margin: 1%;
  font-weight: 3000;
}

.campIndexItem h5 {
  font-size: 16px;
  margin: 1%;
  font-weight: 3000;
  width: 50%
}

.campIndexItem h3:hover {
  color: rgb(182, 165, 146);
  text-decoration: underline rgb(182, 165, 146);;
  cursor: pointer;
  transition: 300ms ease;
}

.campIndexItem h4{
  font-size: 12px;
  margin: 2%;
  color: #757575;
  font-weight: normal;
}


.camps h1 {
  font-size: 20px;
  font-weight: bold;
}

.homeWords {
  animation-name: fadeInDown;
  animation-duration: 2s;
}

.camps h2 {
  font-size: 15px;
  color: #757575;
  padding-bottom: 20px;
}


.campNameLocation {
  // display: flex;
  padding: 5% 1% 1% 0;
}

.campDescription {
  padding: 1% 1% 1% 0;
}

.campPrice {
  padding-top: 3%;
  display: flex;
  justify-content: flex-end;
}

.campPrice h5{
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5%;
}

#map-container {
  width: 80%;
  height: 450px;
  background: none;
  background-color: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

element.style {
  background-color: none;
}

 .index-photo img {
   height: 190px;
   width: 100%;
 }