.camp-area h1{
  font-size: 14px;
}

.camp-area {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.camp-essentials {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.camp-essentials h1{
  font-size: 14px;
}

.tent {
  padding-right: 6px;
  margin-left: -1px;
}

.cabin {
  margin-left: -1px;
  padding-right: 11px;
}
.icon6 {
  padding-right: 11px;
}

.toilet-paper {
  padding-right: 11px;
}

.dog {
  padding-right: 14px;
}

.fire {
  padding-right: 16px;
}

.camp-amenities h1{
  font-size: 14px;
}

.camp-amenities {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.not-available {
  color: rgb(158, 152, 152);
  text-decoration: line-through;
}

.water {
  padding-right: 11px;
}

.shower {
  padding-right: 12px;
}

.wifi {
  margin-left: -1px;
  padding-right: 11px;
}

.kitchen {
  padding-right: 16px;
}

.picnic {
  padding-right: 12px;
}