
.header {
  margin-left: 20px;
}


.header h1 a:hover {
  color: rgb(182, 165, 146);
}

.hidden {
  display: none;
}

.show {
  display: normal;
}

.header h1 a{
  font-weight: bold;
  font-size: 40px;
  font-family: 'Staatliches', cursive;
  color: black;
}

.header_unlogged  ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_unlogged ul li{
  margin-left: 29px;
  border-bottom: 1px solid rgb(212, 192, 170);
  font-size: 13px;
}

.header_unlogged ul li:hover{
  border-bottom: 1px solid rgb(182, 165, 146);
  color: rgb(182, 165, 146);
}

.header_unlogged{
  margin-right: 40px;
}

.fas {
  font-size: 20px;
}


.header_logged {
  margin-right: 40px;
}

.btn:hover {
  color:  rgb(182, 165, 146);
}

.header_logged ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_logged ul li{
  margin-left: 29px;
  border-bottom: 1px solid rgb(212, 192, 170);
  font-size: 11px;
}

.header_unlogged ul li Link{
  font-size: 12px;
}

.header_logged ul li .btn{ 
  padding-bottom: -10px;
}

.nav-right {
  padding-right: 10px;
}

.formBtn:hover {
  color:  rgb(182, 165, 146);
  cursor: pointer;
}


.formBtn a:hover{
  color:  rgb(182, 165, 146);
  cursor: pointer;
}

.formBtn {
  font-weight: bold;
}

.top-left h1{
  // animation: 
  animation: slidein 2s ease-in 1s;
}
 

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.front-page-intro {
  // -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  // animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-name: fadeInDown;
  animation-duration: 4s;
}
