
.header {
  padding: 10px;
  margin-left: 20px;
  // display: flex;
}



.header h1 a:hover {
  color: rgb(182, 165, 146);
}

.header h1 a{
  font-weight: bold;
  font-size: 40px;
  font-family: 'Staatliches', cursive;
  color: black;
}

.header_unlogged  ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_unlogged ul li{
  margin-left: 29px;
  border-bottom: 1px solid #D3D3D3;
  font-size: 11px;
}

.header_unlogged ul li:hover{
  border-bottom: 1px solid rgb(182, 165, 146);
  color: rgb(182, 165, 146);
}

.header_unlogged{
  // padding: 10px;
  margin-right: 20px;
}

.fas {
  font-size: 20px;
}


.header_logged {
  // padding: 25px;
  margin-right: 20px;
}

.btn{

}

.btn:hover {
  color:  rgb(182, 165, 146);
}

// .nav-bar {
//   border-bottom: 5px solid rgb(105, 38, 105);
//   height: 70px;
//   background-color: green;
// }

.header_logged ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_logged ul li{
  margin-left: 29px;
  border-bottom: 1px solid #D3D3D3;
  font-size: 11px;
}

.header_unlogged ul li Link{
  font-size: 12px;
}

.header_logged ul li .btn{ 
  padding-bottom: -10px;
}

