.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-top {
  padding: 5px 30px 30px 30px;
  display: flex;
  // justify-content: center;
  justify-content: space-around;
  z-index: 0;
  // width: 1100px;
  width: 1150px;
}


.top-left h1{
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Calibre", Helvetica, Arial, Helvetica, sans-serif;
  text-decoration: underline rgb(182, 165, 146);
}

.top-left h2 {
  font-size: 15px;
  padding-bottom: 15px;
  font-family: "Calibre", Helvetica, Arial, Helvetica, sans-serif;
}

.top-right img {
  width: 500px;
  border-radius: 5%;
  -webkit-filter: grayscale(40%);
  box-shadow: 1px 2px 5px 2px rgba(34, 34, 34, 0.2);
  z-index: inherit;
}

.top-right {
  // padding-left: 50px;
  padding: 0px 26px 0 0;
}

.search {
  width: 900px;
  margin: 30px auto;
  height: 80px;
  border: 1px solid #EBEBEB;
  box-shadow: 1px 2px 6px 1px rgba(82, 81, 81, 0.1);
  display: flex;
  justify-content: center;
  // flex-direction: column;
  align-items: center;
}

.search-bar{
  border: 1px solid #EBEBEB;
  box-shadow: 1px 2px 6px 1px rgba(80, 80, 80, 0.1);
  width: 60%;
  display: flex;
  align-items: center;
  height: 50px;
}

// .search-text {
//   margin: 14px;
//   padding-top: 5px;
// }

#search-text {
  font-size: 20px;
  font-weight: 300;
  color: #808080;
  width: 90%;
  margin-top: 4px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 14px;
}

.search-area {
    display: flex;
    justify-content: space-between;
    margin: 14px;
    width: 100%;
}

.search-button {
  font-size: 20px;
  text-align: center;
  height: 30px;
  // width: 12%;
}

.search-button-cont button{
  margin-left: 50px;
  
}

.search-button-cont {
  display: flex;
  align-items: center;
}

// .featured {
//   // padding: 30px 30px 30px 30px;
//   display: flex;
//   flex-direction: column;
//   width: 900px;
//   align-items: center;
//   // justify-content: center;
//   z-index: 0;
// }

.featured {
  display: flex;
  justify-content: center;
}

.featured-content {
  // width: 900px;
  width: 1000px;
}

.featured-camp {
  // padding-left: 2px;
  // padding-left: 35px;
  padding: 0 35px 0 35px;
  display: flex;
  justify-content: space-between;
}

.featured h1 {
  font-family: "Calibre", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 30px;
  // padding: 10px 0 20px 0;
  padding: 10px 0 20px 5px;
}