.icon1 {
  // color: #E55755;
  color: #814D1C;
  text-shadow: 3px 3px 3px black;
}


.icon2 {
  font-size: 20px;
}

.icon2:hover {
  color: rgb(182, 165, 146);
  transition: 300ms ease;
}

.icon3 {
  padding-bottom: 10px;
  font-size: 40px;
  color: rgb(10, 66, 10);
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: black;
}

.icon4 {
  padding: 12px;
}

