// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-top: 20px;
  // border-style: outset;
}

.nav-bar {
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  background-color: rgb(195, 194, 194);
}


.body {
  margin-top: 50px;
  // z-index: 1;
  // position: absolute;
  align-self: center;
  // margin-bottom: -10px;
}

.top {
  border-bottom: 3px solid rgb(182, 165, 146);
}

.footer {
  // margin-top: -10px;
  z-index: -1;
}

.footer img{
  height: 500px;
  -webkit-filter: grayscale(40%);
}



